/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #style.css
\*----------------------------------- ----------------------------------- -----------------------------------*/

/**
 * copyright 2022 codewithzak
 */

/* ---------------------------------- ----------------------------------- -----------------------------------*\ 
 * #CUSTOM PROPERTY
\*----------------------------------- ----------------------------------- -----------------------------------*/

:root {

	/**
     * ## Colors
     */
	--dark-green: hsl(73, 89%, 41%);
	--light-green: hsl(73, 49%, 73%);
	--light-orange: hsl(46, 100%, 50%);
	--light-cinnabar: hsl(11, 80%, 60%);
	--dark-cinnabar: hsl(343, 100%, 39%);
	--light-purple: hsl(337, 92%, 31%);
	--dark-purple: hsl(318, 73%, 22%);
	
	--rich-black-fogra-29: hsl(210, 26%, 7%);
	--champagne-pink_20: hsla(23, 61%, 86%, 0.2);
	--independence_30: hsla(245, 17%, 29%, 0.3);
	--gray-x-11-gray: hsl(0, 0%, 73%);
	--champagne-pink: hsl(23, 61%, 86%);
	--spanish-gray: hsl(0, 0%, 60%);
	--sonic-silver: hsl(0, 0%, 47%);
	--deep-saffron: hsl(32, 100%, 59%);
	--dark-orange: hsl(28, 100%, 58%);
	--desert-sand: hsl(23, 49%, 82%);
	--isabelline: hsl(40, 43%, 96%);
	--gainsboro: hsl(0, 0%, 87%);
	--tangerine: hsl(31, 84%, 50%);
	--cinnabar: hsl(3, 90%, 55%);
	--black_95: hsla(0, 0%, 0%, 0.95);
	--cultured: hsl(0, 0%, 93%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--onyx: hsl(0, 0%, 27%);

	/**
     * ## Gradient color
     */
	--gradient: radial-gradient(ellipse at center, hsla(0, 0%, 0%, 0.25), transparent 80%);

	/**
	  * ## Typography
	  */
	--ff-shadows-into-light: 'Shadows Into Light', cursive;
	--ff-roboto-mono: 'Roboto Mono', monospace;
	--ff-roboto-flex: 'Roboto Flex', sans-serif;
	--ff-roboto: 'Roboto', sans-serif;
	--ff-rubik-dirt: 'Rubik Dirt', cursive;
	--ff-rubik: 'Rubik', sans-serif;

	--fs-1: 3.2rem;
	--fs-2: 2.2rem;
	--fs-3: 1.8rem;
	--fs-4: 1.4rem;
	--fs-5: 1.2rem;

	--fw-1: 100;
	--fw-2: 200;
	--fw-3: 300;
	--fw-4: 400;
	--fw-5: 500;
	--fw-6: 600;
	--fw-7: 700;

	/**
	  * ## Shadow
	  */

	--shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
	--shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);

	/**
	  * ## Border Radius
	  */
	--radius-8: 8px;
	--radius-10: 10px;
	--radius-15: 15px;
	--radius-20: 20px;

	/**
	  *  ## Transition
	  */

	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease;

	/**
	  *  ## Clip path
	  */
	--clip-path-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
	--clip-path-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);

	/**
	  * ## Spacing
	  */

	--section-padding: 60px;
}

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #RESET
\*----------------------------------- ----------------------------------- -----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a,
img,
span:not(span.span),
input,
svg,
textarea,
button,
select,
ion-icon {
	display: block;
}

img {
	height: auto;
}

input,
select,
textarea,
button {
	font: inherit;
	border: none;
	background-color: none;
}

input,
select,
textarea {
	width: 100%;
	caret-color: var(--deep-saffron);
}

button {
	cursor: pointer;
}

ion-icon {
	pointer-events: none;
}

address {
	font-style: normal;
}

html {
	font-family: var(--ff-roboto);
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	color: var(--onyx);
	font-size: 1.6rem;
	line-height: 1.6;
	overflow-x: hidden;
	height: 300vh;
}

body.active {
	overflow: hidden;
}

:focus-visible {
	outline-offset: 4px;
}

::selection {
	background-color: var(--white);
	color: var(--cinnabar);
}

/*-----------------------------------------------------------------*/
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {	background-color: hsl(0, 0%, 98%); }
::-webkit-scrollbar-thumb {	background-color: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #REUSED STYLE
\*-----------------------------------  ----------------------------------- -----------------------------------*/

.container { padding-inline: 15px; }
.section { padding-block: var(--section-padding); }
.section.white { background-color: var(--isabelline); }
.section-divider { position: relative; }
.section-divider::before,
.section-divider::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-repeat: repeat no-repeat;
	background-position: bottom;
}
.section-divider.white::after { background-image: url(../img/shape-white.png); }
.section-divider.grey::after { background-image: url(../img/shape-grey.png); }

.span { color: var(--deep-saffron); }
.w-100 { width: 100%; }
.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
}

.h1,
.h2,
.h3,
.h4 {
	font-family: var(--ff-rubik);
	color: var(--rich-black-fogra-29);
	line-height: 1.2;
	letter-spacing: -1px;
}

.h1,
.h2 {
	font-size: var(--fs-1);
}

.h2,
.h3,
.h4 {
	font-weight: var(--fw-6);
}

.h3 {
	font-size: var(--fs-2);
}

.h4 {
	font-size: var(--fs-3);
}

.btn {
	background-color: var(--bg-color, var(--deep-saffron));
	color: var(--white);
	padding-inline: var(--padding-inline, 35px);
	font-family: var(--ff-rubik);
	font-size: var(--fs-4);
	font-weight: var(--fw-4);
	height: var(--height, 40px);
	border-radius: 1px;
	transition: var(--transition-1);
}

.btn-hover { 
	position: relative; 
	overflow: hidden;
	z-index: 1;
}
.btn-hover::after {
	content: '';
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 20px;
	transform: scale(var(--scale, 1));
	border-radius: 50%;
	background-color: var(--rich-black-fogra-29);
	color: var(--white);
	z-index: -1;
	transition: var(--transition-2);
}
.btn-hover:is(:hover, :focus)::after {
	--scale: 500;
}


.card {
	height: 100%;
	box-shadow: var(--shadow-2);
	text-align: center;
	padding-block: 40px;
    padding-inline: 20px;
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
	line-height: 1.7;
	background-color: var(--white);
}
.card img {	margin-inline: auto; }

.has-scrollbar {
	display: flex;
	align-items: center;
	gap: 40px;
	overflow-x: auto;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
}
.has-scrollbar > li { 
	min-width: 100%; 
	padding-block-end: 20px;
	scroll-snap-align: start;
}
.has-scrollbar::-webkit-scrollbar { height: 10px; }
.has-scrollbar::-webkit-scrollbar-track{
	background-color: var(--cultured);
	outline: 2px solid var(--deep-saffron);
	border-radius: 50px;
}
.has-scrollbar::-webkit-scrollbar-thumb { 
	background-color: var(--deep-saffron);
	border-radius: 50px;
	border: 3px solid var(--cultured);
}
.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
/* ----------------------------------- */
.cloud-anim{
	width: 65%;
	position: absolute;

	transform: scale(1);
	animation: scaleUp 1s linear infinite alternate;
}
@keyframes scaleUp {
	0% {transform: scale(1); }
	100% { transform: scale(1.05); }
}
.abs-img { 
	top: 0;
	left: 100px;
}

/* ----------------------------------- */
.section-title {
	max-width: 15ch;
	padding-block: 15px 10px;
	margin-inline: auto;
}
.section-text {
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
	max-width: 35ch;
	margin-inline: auto;
	padding-block-end: 20px;
}
.section-subtitle {
	width: 50%;
	font-family: var(--ff-rubik);
	font-size: var(--fs-4);
	font-weight: var(--fw-5);
	color: var(--cinnabar);
	margin-inline: auto;
}
.badge { 
	position: absolute;
	background-color: var(--bg-color, var(--cinnabar));
	color: var(--color, var(--white));
	font-size: var(--fs-5);
	font-weight: var(--fw-6);
	padding-inline: var(--padding-inline, 10px);
	border-radius: 3px;
}
.rating-wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--deep-saffron);
	font-size: var(--fs-4);
}

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #HEADER
\*----------------------------------- ----------------------------------- -----------------------------------*/

.header-group-btn .btn { display: none; }

.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding-block: 20px 15px;
	z-index: 4;

	background-color: transparent;
	color: var(--color, var(--white));

	border-block-end: 1px solid var(--champagne-pink_20);
	transition: var(--transition-1);
}
.header.active {
	--color: var(--rich-black-fogra-29);
	position: fixed;
	top: -88px;

	background-color: var(--white);
	color: var(--rich-black-fogra-29);
	box-shadow: var(--shadow-1);
	animation: slideIn .5s ease-out forwards;
}
@keyframes slideIn {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

:is(.header, .footer) .logo {
	font-family: var(--ff-rubik);
	font-size: var(--fs-1);
	font-weight: var(--fw-6);
	letter-spacing: -3px;
	padding-inline-start: 15px;
	position: relative;
}
:is(.header, .footer) .logo .name { color: var(--deep-saffron); }
:is(.header, .footer) .logo .name {
	font-family: var(--ff-shadows-into-light);
	font-size: var(--fs-3);
	font-weight: var(--fw-5);
	letter-spacing: 0;
	position: absolute;
	top: -5px;
	left: -6px;
	transform: rotate(-45deg);
}

.header-group-btn {
	display: flex;
	align-items: center;
	gap: 5px;
}
.search-btn {
	font-size: var(--fs-2);
	font-weight: var(--fw-5);
	background-color: transparent;
	color: var(--color);
}
.search-btn:is(:hover, :focus) { color: var(--deep-saffron); }
.nav-open-btn,
.nav-close-btn {
	font-size: var(--fs-2);
	font-weight: var(--fw-6);
	background-color: transparent;
}
.nav-open-btn { color: var(--color); }
:is(.nav-open-btn , .nav-close-btn) ion-icon { --ionicon-stroke-width: 50px; }
.nav-open-btn :is(:hover, :focus) ion-icon { 
	color: var(--deep-saffron);
	--ionicon-stroke-width: 50px; 
}

.navbar {
	position: fixed;
	top: 0;
	right: -270px;
	max-width: 270px;
	width: 100%;
	height: 100vh;
	background-color: var(--champagne-pink);
	color: var(--onyx);
	padding-inline: 15px;
	padding-block: 20px;
	z-index: 6;

	opacity: 0;
	visibility: hidden;
	transition: var(--transition-1);
}
.navbar.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(-100%);
}
.nav-top { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--onyx);
}
.nav-top .nav-close-btn { background-color: transparent; }
.nav-top .nav-close-btn:is(:hover, :focus) { color: var(--cinnabar); }
.nav-top :is(.logo .span ,.logo .name) { color: var(--cinnabar); }

.nav-list {
	padding-block: 20px;
	padding-inline: 15px;
}
.nav-item:not(:last-child) { border-block-end: 1px solid var(--independence_30); }
.nav-link {
	padding-block: 5px;
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
	font-weight: var(--fw-4);
	transition: var(--transition-1);
}
.nav-link:is(:hover, :focus){ 
	color: var(--cinnabar); 
	transform: translateX( 10px );
}

.nav-opt-list:not(:last-child) { margin-block-end: 20px;}

.nav-opt-title {
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
	font-weight: var(--fw-6);
	color: var(--onyx);
	padding-block: 10px;
	padding-inline: 15px;
	position: relative;
}
.nav-opt-text {
	padding-inline: 15px;
	padding-block-end: 5px;
	font-size: var(--fs-5);
	font-family: var(--ff-roboto-mono);
}

.nav-social-list {
	position: absolute;
	bottom: 20px;
	left: 15px;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	gap: 5px;
	padding-inline: 15px;
}
.nav-social-link {
	font-size: var(--fs-3); 
	transition: var(--transition-1);
}
.nav-social-link:is(:hover, :focus) { 
	color: var(--dark-orange); 
	transform: translateY(-2px);
}


/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #Overlay
\*----------------------------------- ----------------------------------- -----------------------------------*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	opacity: 0.5;
	z-index: 3;

	opacity: 0;
	visibility: hidden;
	transition: var(--transition-1);
}
.overlay.active {
	opacity: 1;
	visibility: visible;
}

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #Search-Container
\*----------------------------------- ----------------------------------- -----------------------------------*/

.search-container {
	position: fixed;
	top: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--black_95);
	opacity: 0.98;
	z-index: 5;
	padding-inline: 25px;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transition: var(--transition-1);
}
.search-container.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(50%);
}

.search-box{
	position: relative;
	max-width: 550px;
	width: 100%;
	padding-block: 5px;
}
.search-box .search-input {
	padding-inline: 10px 43px;
	padding-block: 5px;
	background-color: transparent;
	color: var(--gray-x-11-gray);
	font-family: var(--ff-roboto-mono);
	font-weight: var(--fw-3);
}
.search-box .search-input::placeholder { 
	font-family: var(--ff-shadows-into-light); 
	font-size: var(--fs-2);
	color: var(--gainsboro);
}
.search-input::-webkit-search-cancel-button { display: none; }
.search-box .search-btn {
	background-color: transparent;
	color: var(--gainsboro);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}
.search-box:is(:hover, :focus-visible) .search-btn { color: var(--gray-x-11-gray); }
.search-box:is(:hover, :focus-visible) .search-btn { color: var(--gray-x-11-gray); }

.search-container .search-cancel {
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: transparent;
	cursor: url('../img/close.png'), auto;
}



/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #HERO
\*----------------------------------- ----------------------------------- -----------------------------------*/
.hero-banner { display: none; }

.hero {
	padding-block: 145px 60px;
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--champagne-pink);
	
	position: relative;
}
.hero-content { text-align: center; }
.hero-subtitle { 
	font-family: var(--ff-shadows-into-light);
	font-size: var(--fs-3);
	color: var(--deep-saffron);
}
.hero-title {
	max-width: 12ch;
	margin-inline: auto;
	font-weight: var(--fw-7);
	letter-spacing: -2px;
	margin-block: 20px 15px;
	color: var(--champagne-pink);
}
.hero-text {
	max-width: 40ch;
	margin-inline: auto;
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
	margin-block-end: 30px;
}

.hero .btn { margin-inline: auto; }
.hero .btn:is(:hover, :focus) { background-color: var(--rich-black-fogra-29); }

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #PROMOTION
\*----------------------------------- ----------------------------------- -----------------------------------*/
.promotion-card svg { margin-inline: auto; }
.promotion-card .card-title { margin-block: 15px; }
.promotion-card .card-text { 
	margin-block-end: 15px; 
	max-width: 40ch;
	margin-inline: auto;
}
.promotion-card { 
	position: relative;
	z-index: 1;
}
.promotion-card::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 30%;
	background-color: var(--deep-saffron);
	clip-path: var(--clip-path-1);
	z-index: -1;
	transition: var(--transition-2);
}

.promotion-card:is(:hover, :focus)::before {
	height: 100%;
	clip-path: var(--clip-path-2);
}
.promotion-card:is(:hover, :focus) .card-title{ color: var(--light-purple); }
.promotion-card:is(:hover, :focus) .card-text{ color: var(--isabelline); }
.promotion-card:is(:hover, :focus) svg path { fill: var(--isabelline);} 


/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #ABOUT
\*----------------------------------- ----------------------------------- -----------------------------------*/
.about { text-align: center; }
.about-banner{ position: relative; }

.about-list { margin-block-end: 25px;}
.about-item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.about-item-text {
	line-height: 2;
	font-family: var(--ff-roboto-flex);
	font-size: var(--fs-4);
	font-weight: var(--fw-6);
}
.about-item ion-icon {
	--ionicon-stroke-width: 80px;
	padding: 3px;
	background-color: var(--dark-orange);
	color: var(--white);
	border-radius: 50%;
}
.about .btn { margin-inline: auto; }


/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #FOOD MENU
\*----------------------------------- ----------------------------------- -----------------------------------*/
.food-menu { text-align: center; }

.filter-list {
	font-size: var(--fs-4);
	color: var(--rich-black-fogra-29);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-block-end: 20px;
	width: 80%;
    margin-inline: auto;
}
.filter-btn {
	width: max-content;
	padding: 5px 20px;
	background-color: var(--white);
	border-radius: 3px;
}
.filter-btn.active {
	background-color: var(--deep-saffron);
	color: var(--white);
	box-shadow: var(--shadow-2);
}


.food-menu-list {
	display: grid;
	gap: 30px;
}
.card-banner { 
	padding-block-start: 30px;
	max-width: max-content;
	margin-inline: auto;
	position: relative; 
	aspect-ratio: 1/1;
}
.card-banner .badge {
	top: 0;
	left: 0;
}
.food-menu-btn {
	width: max-content;
	border-radius: 3px;
	position: absolute;
	top: calc(50% + 15px);
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-2);
}
.food-menu-card:is(:hover, :focus-within) .food-menu-btn{
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
}
.food-menu-card:is(:hover, :focus-within) .food-menu-btn:is(:hover, :focus){  background-color: var(--cinnabar); }

.food-menu .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-block: 15px;
}
.category { font-weight: var(--fw-6); }
.food-menu .wrapper-price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-block: 15px 5px;
	font-weight: var(--fw-6);
}
.price-text {  
	text-transform: uppercase; 
	color: var(--cinnabar);
}
.price { color: var(--deep-saffron); }
.del { color: var(--gray-x-11-gray); }
/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #CTA
\*----------------------------------- ----------------------------------- -----------------------------------*/
.cta {
	background-image: url(../img/hero-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--white);
	text-align: center;
	overflow: hidden;
}
.cta::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	height: 15px;
	background-image: url(../img/shape-grey.png);
	background-repeat: repeat no-repeat;
	transform: scale(-1);
}
.cta .container {
	display: grid;
	gap: 30px;
}

.cta .section-title {
	max-width: 17ch;
    line-height: 1.5;
    letter-spacing: -2px;
	color: var(--white);
}
.cta .btn { margin-inline: auto; }

.cta-banner { position: relative; }
.cta-img { transform: scale(1.3) translateY(60px);}
.cta .abs-img {
    top: 0;
    left: 20px;
}



/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #Delivery
\*----------------------------------- ----------------------------------- -----------------------------------*/
.delivery .section-title { 
	margin-inline: 0;
	max-width: 17ch;
}
.delivery-banner { 
	position: relative; 
	margin-block-start: 30px;
}
.delivery-img {
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(-60%);	/*-70px*/
}

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #Testimonials
\*----------------------------------- ----------------------------------- -----------------------------------*/
.testimonials { text-align: center; }

.testi-card { padding-inline: 30px; }
.profile-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-block-end: 20px;
}
.profile-wrapper div { text-align: left; }
.avatar {
	overflow: hidden;
	border-radius: 50%;
}
.testi-text { 
	text-align: left;
	font-family: var(--ff-roboto);
	font-size: var(--fs-4);
	line-height: 1.6;
	margin-block-end: 20px;
}



/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #BANNER
\*----------------------------------- ----------------------------------- -----------------------------------*/
.banner-list {
	display: grid;
	gap: 10px;
	color: var(--white);
}
.banner-item { 	
	width: 100%; 
	position: relative;
	overflow: hidden;
}

.banner-lg { height: 430px; }
.banner-md { height: 220px; }
.banner-sm { height: 200px; }

.banner-card { height: 100%; }
.banner-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
:is(.banner-lg, .banner-sm) .banner-content {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	left: 15px;
	
}
.banner-lg .banner-subtitle { font-weight: var(--fw-6); }
.banner-lg .banner-title { 
	font-weight: var(--fw-6); 
	letter-spacing: -2px;
	color: var(--cultured);
	margin-block: 10px;
	max-width: 9ch;
}
.banner-lg .banner-text {
	font-size: var(--fs-4);
}

.banner-sm .banner-title { 
	font-size: var(--fs-2);
	font-weight: var(--fw-6); 
	letter-spacing: -1px;
	color: var(--cultured);
	margin-block: 10px;
	max-width: 9ch;
}
.banner-sm .banner-text {
	font-size: var(--fs-4);
}
.banner-md .banner-content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(9%, -50%);
	
}
.banner-md .banner-title { 
	font-size: var(--fs-2);
	font-weight: var(--fw-6); 
	letter-spacing: -1px;
	color: var(--cultured);
	margin-block: 10px;
	max-width: 17ch;
}
.banner-md .banner-text {
	max-width: 15ch;
	font-size: var(--fs-4);
}
.banner .btn {
	margin-block: 10px;
	--height: 30px;
	--padding-inline: 20px;
	font-size: var(--fs-5);
}
.banner .btn:is(:hover, :focus) { background-color: var(--rich-black-fogra-29); }


/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #BLOG
\*----------------------------------- ----------------------------------- -----------------------------------*/
.blog {	
	text-align: center; 
	overflow: hidden;
}
.blog-list {
	display: grid;
	gap: 30px;
}
.blog .card {
	text-align: left;
	padding-inline: 0;
	padding-block-start: 0;
}
.blog-card > *:not(.blog-banner) { 
	padding-inline: 25px;
}
.blog-banner { 
	height: 180px; 
	position: relative;
	overflow: hidden;
}
.blog-banner img { 
	transform: scale(1);
	transition: var(--transition-2);
}
.blog-card:is(:hover, :focus) img { transform: scale(1.05); }
.blog-banner span.badge {
	display: inline-block;
	top: 10px;
	right: 10px;
	--bg-color: var(--dark-orange);
}
.blog .meta-info {
	margin-block: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px 20px;
}
.blog .meta-info > li {
	display: flex;
	align-items: center;
	gap: 5px;

	font-size: var(--fs-5);
	font-weight: var(--fw-6);
}
.blog .meta-info li ion-icon { 
	font-size: var(--fs-4);
	--ionicon-stroke-width: 40px;
	color: var(--deep-saffron);
}

.blog-card .card-title {
	font-size: 2rem;
	margin-block-end: 15px;
}
.blog-card .btn-link {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-block-start: 15px;
	font-size: var(--fs-5);
	font-weight: var(--fw-6);
	text-transform: uppercase;
	transition: var(--transition-2);
}
.blog-card .btn-link ion-icon { --ionicon-stroke-width: 40px; }
.blog-card .btn-link:is(:hover, :focus) { color: var(--deep-saffron); }
.blog-card .btn-link:is(:hover, :focus) ion-icon{ transform: translateX(5px); }

/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #FOOTER
\*----------------------------------- ----------------------------------- -----------------------------------*/
.footer { 
	padding-block-start: var(--section-padding);
	padding-block-end: 10px;
}
.footer-text {
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-4);
}
.social-list {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-block: 20px;

	font-size: var(--fs-4);
	color: var(--white);
}
.social-link {
	background-color: var(--deep-saffron);
	padding: 8px;
	border-radius: 3px;
}
.social-link:is(:hover, :focus) {
	background-color: var(--cinnabar);
}
.footer-list-title {
	max-width: max-content;
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-3);
	font-weight: var(--fw-6);
	margin-block: 10px;
	position: relative;
}
.footer-list-title::after {
	content: '';
	position: absolute;
	top: 57%;
	transform: translateY(-50%);
	left: calc(100% + 15px);
	background-color: var(--deep-saffron);
	width: 50px;
	height: 3px;
	border-radius: 10px;
}

:is(.footer-link, .footer-text) {
	font-family: var(--ff-rubik);
	font-size: var(--fs-4);
	line-height: 2;
	transition: var(--transition-2);
}
.footer-list > li:is(:hover, :focus) :is(.footer-link, .footer-text){ 
	transform: translateX(3px);
	color: var(--deep-saffron);
}

.footer-form { 
	margin-block: 25px;
	padding: 25px 20px;
	display: grid;
	gap: 8px;
	border: 2px solid var(--cultured);
	box-shadow: var(--shadow-1);
	z-index: 1;
}
.footer-form .input-wrapper {
	display: grid;
	gap: 8px;
}
.footer-form .input-field {
	font-family: var(--ff-rubik);
	font-size: var(--fs-5);
	letter-spacing: 1px;
	color: var(--spanish-gray);
	border: 1px solid var(--cultured);
	padding-block: 10px;
	padding-inline: 10px ;
	box-shadow: var(--shadow-1);
}
.footer-form .input-field::placeholder {
	color: var(--sonic-silver);
	font-size: var(--fs-5);
	letter-spacing: 0;
}
.footer-form .btn {
	--height: 35px;
	max-width: max-content;
}

.footer-bottom .footer-banner {
	height: 15vh;
	position: relative;

	background-image: url(../img/footer-illustration.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-delivery-boy { 
	position: absolute;
	bottom: -.8vh;
	left: -1vw;
	width: 40vw;
}

.footer-copyright {
	padding-block-start: 10px;
	border-block-start: 1px solid var(--sonic-silver);
}
.footer-copyright .copyright { 
	padding-inline: 15px;
	text-align: center; 
	font-family: var(--ff-roboto-mono);
	font-size: var(--fs-5);
}
.footer-copyright .copyright-link { display: inline-block; }
.footer-copyright .copyright-link:is(:hover, :focus-visible) { color: var(--cinnabar); }
/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 * #BACK TO TOP
\*----------------------------------- ----------------------------------- -----------------------------------*/
.backTtop {
	background-color: var(--light-orange);
	color: var(--white);
	padding: 10px;
	border-radius: 5px;

	position: fixed;
	bottom: 0;
	right: 10px;
	z-index: 1;

	opacity: 0;
	visibility: hidden;
	transition: var(--transition-1);
}
.backTtop:is(:hover) { background-color: var(--rich-black-fogra-29); }
.backTtop.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(-15px);
}
.backTtop ion-icon { --ionicon-stroke-width: 50px; }





/*----------------------------------- ----------------------------------- -----------------------------------*\ 
 *                                              #MEDIA QUERIES
\*----------------------------------- ----------------------------------- -----------------------------------*/


/*----------------------------------- -----------------------------------*\ 
 * ##responsive for large than 480px screen
\*----------------------------------- -----------------------------------*/
@media screen and (min-width: 480px){

	/* Reused Style */
	.has-scrollbar {
		width: 80%;
		margin-inline: auto;
	}
	.section-title { padding-block-end: 30px; }
	.section-text {	
		max-width: 40ch; 
		padding-block-end: 30px;
		font-size: var(--fs-3);
	}
	.w-100 {
		width: 90%;
		margin-inline: auto;
	}
	.section-title {
		max-width: 20ch;
	}

	/* Header */
	.header-group-btn .btn { display: initial; }
	.header-group-btn { gap: 15px; }

	/* About */
	.about-item-text {	font-size: var(--fs-3);	}
	:is(.about, .cta) .btn {
		--padding-inline: 50px;
		--height: 40px;
		font-weight: var(--fw-5);
	}
	/* Food-menu */
	.food-menu-list, .blog-list {
		width: 90%;
		margin-inline: auto;
	}
	/* delivery */
	.delivery-content { padding-inline: 20px; }
	.delivery .section-text { margin-inline: 0; }

}

/*----------------------------------- -----------------------------------*\ 
 * ##responsive for large than 550px screen
\*----------------------------------- -----------------------------------*/
@media screen and (min-width: 550px){

	/* Reused Style */
	.has-scrollbar { 
		width: 100%; 
		gap: 10px;
	}
	.has-scrollbar > li {
		min-width: calc(50% - 5px);
		padding-block-end: 20px;
		scroll-snap-align: start;
	}
	.w-100 { width: 75%;	}
	.cloud-anim { width: 50%; }
	.filter-list { width: 60%; }
	.section-text {	max-width: 60ch; }


	/* Food-Menu */
	.food-menu-list, .blog-list {
		display: grid;
		gap: 15px;
		width: 100%;
		margin-inline: 0;
		grid-template-columns: repeat(2, 1fr);
	}
	/* cta */
	.cta {
		padding-block: 80px;
	}
	.cta .abs-img {
		top: 0;
		left: 50px;
	}

	/* banner */
	.banner-lg .banner-title{ max-width: 14ch; }
	/* Footer */
	.footer-top .container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px
	}
	.footer-brand, .footer-form { grid-column: span 2; }
	.footer-bottom .footer-banner { height: 180px; }
	.footer-delivery-boy { width: 40%; }
}

/*----------------------------------- -----------------------------------*\ 
 * #responsive for large than 768px screen
\*----------------------------------- -----------------------------------*/
@media screen and (min-width: 768px){
	/* Custom Styles */
	:root{
		--fs-1: 4.2rem;
	}
	/* Reused Style */
	.w-100 {
		width: 100%;
	}
	.container {
		max-width: 720px;
		margin-inline: auto;
	}
	.has-scrollbar { gap: 20px; }
	.has-scrollbar > li { min-width: calc(50% - 10px); }
	/* Hero */
	.hero { overflow: hidden; }
	.hero .container {
		display: grid;
		grid-template-columns: 1fr .7fr;
		gap: 15px;
		text-align: left;
		padding-inline: 25px;
	}
	.hero-content {
		text-align: left;
	}
	.hero-title, 
	.hero-text, 
	.hero .btn { margin-inline: 0; }
	.hero-text { max-width: 100%; }
	.hero-banner {
		display: block;
		position: relative;
	}
	.hero-img{
		width: 100%;
		position: absolute;
		right: 7%;
		top: 50%;
		transform: translateY(-40%);
	}
	.hero-img-bg {
		position: absolute;
		top: 50%;
		right: 0;
		transform: scale(1.4) translateY(-36%);
	}
	/* About */
	:is(.about, .cta, .delivery) .container{
		display: grid;
		grid-template-columns: 1fr .9fr;
		gap: 30px;
		text-align: left;
	}
	.about-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	:is(.about ,.cta, .delivery) .btn { margin-inline: 0; }
	:is(.about ,.cta, .delivery) .section-text {	
		margin-inline: 0;
		font-size: var(--fs-4); 
	}
	:is(.about ,.cta, .delivery) .section-title { margin-inline: 0;}
	.about-item-text { font-size: var(--fs-4); }
	/* Food Menu */
	.food-menu-list, .blog-list { gap: 30px; }
	/* CTA */
	:is(.cta, .delivery) .section-text { padding-block: 20px; }
	:is(.cta, .delivery) .section-title { padding-block: 0; }
	.cta .abs-img {	left: 0px; }
	.cta-banner { place-self: center; }
	.cta-img { transform: scale(1.5) translateY(50px); }

	/* Banner */
	.banner-list {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2,1fr);
	}
	.banner-lg {
		height: 100%; 
		grid-column: span 2;
		grid-row: span 2;
	}
	.banner-sm { height: 100%; }
	.banner-md {
		height: 100%;
		grid-column: span 2;
	}
	.banner-lg .banner-content { top: 52%; }
	.banner-sm .banner-content { top: 50%; }
	.banner-sm .banner-title {
		font-size: var(--fs-3);
		margin-block: 5px;
		max-width: 8ch;
	}
	.banner-md .banner-title { 
		max-width: 11ch; 
		margin-block: 3px;
	}
	:is(.banner-sm, .banner-md) .banner-text {
		font-size: var(--fs-5);
		max-width: 21ch;
	}
	.banner .btn { margin-block: 5px; }
	/* Footer */
	.footer-delivery-boy { width: 31%; }	
}

/*----------------------------------- -----------------------------------*\ 
 * #responsive for large than 992px screen
\*----------------------------------- -----------------------------------*/
@media screen and (min-width: 992px){

	:root {
		--fs-3: 3.2rem;
		--fs-4: 1.5rem;
	}
	/* Reused Style */
	.container { 
		max-width: 990px; 
		padding-inline: 15px;
	}
	.h2 { --fs-1: 4.2rem; }
	textarea { min-height: 15vh; }
	.has-scrollbar { gap: 10px; }
	.has-scrollbar > li { min-width: calc(33.33% - 6.66px); }
	.section-text {	font-size: var(--fs-4); }

	/* Header */
	.nav-open-btn { display: none; }
	.navbar, .navbar.active { 
		all: unset;
		margin-inline-start: auto; 
	}
	.nav-list {
		padding-block: 0;
		padding-inline-end: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		font-family: 'Rubik';
	}
	.nav-item:not(:last-child) { border-block-end: none; }
	.nav-link:is(:hover, :focus){ 
		transform: translateX(0); 
		color: var(--dark-orange);
	}

	.nav-top, .nav-opt-list { display: none; }
	:is(.header, .footer) .logo { font-size: 2.8rem; }
	:is(.header, .footer) .logo .name { font-size: 1.6rem; }
	/* Hero */
	.hero { 
		min-height: 660px; 
		display: grid;
		align-items: center;
		z-index: 1;
		position: relative;
	}
	.hero::before {
		content: url(../img/hero-bg-shape.png);
		position: absolute;
		right: -18%;
		bottom: 0;
		z-index: -1;
	}
	.hero-img {
		right: 0%;
		transform: scale(1.2) translateY(-25%);
	}
	.hero-img-bg {
		right: -4%;
		transform: scale(1.5) translateY(-33%);
	}
	.hero .container { grid-template-columns: 1fr .8fr; }
	.hero-title { --fs-1: 7rem; }

	/* Food-Menu */
	.food-menu-list, .blog-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	/* Delivery */
	:is(.about, .cta, .delivery) .container { align-items: center; }

	/* Footer */
	.footer-top .container { 
		grid-template-columns: 1fr 1fr 1fr 1.6fr;
		gap: 30px;
		position: relative;
	}
	.footer-brand, .footer-form {
		grid-column: 1;
	}
	.footer-list-title { font-size: var(--fs-4); }
	.footer-list-title::after { width: 3rem; }
	:is(.footer-link, .footer-text) { font-size: 1.3rem; }
	.footer-form {
		position: absolute;
		top: -40%;
		right: 1.5%;
		width: 32%;
		background-color: var(--white);
		z-index: 1;
	}
	.footer-form .input-wrapper {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
	.footer-delivery-boy { width: 21%; }
}

/*----------------------------------- -----------------------------------*\ 
 * #responsive for large than 1200px screen
\*----------------------------------- -----------------------------------*/
@media screen and (min-width: 1200px){
	/* Reused Style*/
	.container { max-width: 1200px; }
	.has-scrollbar > li { min-width: calc(25% - 7.5px);}
	/* Hero */
	.hero { min-height: 770px; }
	.hero::before { right: 0%; }
	.hero-img {	transform: scale(1.1) translateY(-34%); }

	/* Footer */
	.footer-form {
		top: -52%;
		right: 1.2%;
	}
	.footer-bottom .footer-banner { height: 30vh; }
	.footer-delivery-boy { 
		width: 19%; 
		left: 7%;
	}


}